@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full-page-banner">
    <div class="wrapper">
        <div class="banner-text">
            <h1>Survey Online</h1>
            <h4>Do survey easily</h4>
        </div>
    </div>
</div>
<div>
    <div class="wrapper info-block">
        <center><h2>Sophisticated research made simple</h2></center>
        <div class="image-set">
            <div class="home-create">
                <img src="../Images/create_home_icon.png" alt="easy create">
                <p>Create surveys</p>
            </div>
            <div class="arrow-right"></div>
            <div class="home-collect">
                <img src="../Images/collect_home_icon.png" alt="easy create">
                <p>Collect responses</p>
            </div>
            <div class="arrow-right"></div>
            <div class="home-analyze">
                <img src="../Images/analyze_home_icon.png" alt="easy create">
                <p>Analyse results</p>
            </div>
        </div>
    </div>
</div>



@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <p>Hello  @User.Identity.GetUserName() </p>
        <p>Hello  @User.Identity.GetUserId() </p>
        <p></p>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li> @Html.ActionLink("Login", "Login", "Account")</li>
        <li> @Html.ActionLink("Register", "Register", "Account")</li>
    </ul>
}