@model SurveyOnline.WebSite.ViewModels.SurveyDetailViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="survey-condact-page">
    <div class="wrapper">

        <div class="survey-details-header">
            <h2>@Model.SurveyName</h2>
            <p>@Model.SurveyDescription</p>
            <p>
                Survey Status:
                @if (Model.SurveyStatus)
                {
                    <span data-toggle="tooltip" data-placement="right" data-original-title="Open"><i ng-switch-when="true" class="fa fa-check" aria-hidden="true"></i></span>
                }
                else
                {
                    <span data-toggle="tooltip" data-placement="right" data-original-title="Closed"><i ng-switch-when="false" class="fa fa-times" aria-hidden="true"></i></span>
                }
            </p>
            <p>Question count: <span class="badge">@Model.SurvewyQuestionsCount</span></p>
        </div>
        @using (Html.BeginForm("Conduct", "Survey", FormMethod.Post))
        {
            @Html.LabelFor(x => x.SurveyQuestions)
            foreach (var w in Model.SurveyQuestions)
            {

                <div>
                    <p>@w.QuestionName</p>
                    @foreach (var e in w.AnswersVariants)
                    {
                        <p>
                            <label>
                                @Html.RadioButton(w.QuestionName, e.AnswerVariantName) @e.AnswerVariantName
                            </label>
                        </p>
                    }
                </div>
            }
            <input type="submit" value="OK" class="btn btn-default" />
        }
    </div>
</div>